<div class="hero">
  <div class="hero-main">
    <div class="flex main-section">
      <div class="left-main w-50">
        <div class="info-section">
          <h3>Fresh & Healthy</h3>
          <h2>Food Anytime</h2>
          <p>It's Food and Groceries You Love, Delivered</p>
          <form action="#" method="post" class="flex">
            <input
              type="search"
              name="location"
              id="location"
              placeholder="Enter your Full Address"
            />
            <button type="submit" class="bg-red">Deliver</button>
          </form>
          <h4>Popular Restaurant's</h4>
          <ul class="flex">
            <li><img src="assets/images/pizzahut.png" alt="" /></li>
            <li><img src="assets/images/kfc.png" alt="" /></li>
            <li><img src="assets/images/mcdonald.png" alt="" /></li>
            <li><img src="assets/images/burger king.png" alt="" /></li>
            <li><img src="assets/images/dominos.png" alt="" /></li>
            <li><img src="assets/images/subway.png" alt="" /></li>
          </ul>
        </div>
      </div>
      <div class="right-main w-50">
        <img src="assets/images/fried chichken.png" alt="" />
      </div>
    </div>
  </div>
  <div class="figure">
    <img src="assets/images/orange.png" alt="" />
  </div>
</div>
