.hero-main {
  background: #fff7ef url(/assets/images/bg-hero.jpg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin-bottom: 30px !important;
  padding-top: 200px !important;
  padding-right: 10% !important;
  padding-bottom: 20px !important;
  padding-left: 10% !important;
}

.main-section {
  max-width: 1400px;
  margin: 0 auto;
}

.w-50 {
  width: 50%;
}

.info-section {
  text-align: -webkit-center;
  padding-top: 20px;
}

.info-section > h3 {
  font-size: 50px;
  color: #ffffff;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.info-section > h2 {
  font-size: 70px;
  color: #ffffff;
  line-height: 1;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.info-section > p {
  color: #ffffff;
  font-size: 19px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.625em;
  margin-top: 10px;
  margin-bottom: 40px;
}

.info-section > form {
  place-content: center;
}

.info-section > form > input {
  height: 50px;
  width: 60%;
  border: 1px solid #cdcdcd;
  border-radius: 20px 0 0 20px;
  color: #000;
  padding: 0 20px;
  font-size: 16px;
  outline: none;
}

.info-section > form > button {
  border: 1px solid #cdcdcd;
  border-radius: 0 20px 20px 0;
  padding: 0 20px;
  color: #fff;
  font-size: 15px;
  width: 15%;
}

.info-section > h4 {
  margin-top: 30px;
  text-align: left;
  padding: 0 50px;
  color: #fff;
  font-size: 25px;
}

info-section > ul > li {
  height: 78px;
  width: 78px;
  background: #fff;
}

.info-section > ul > li {
  width: 78px;
  height: 78px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.info-section > ul > li > img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.info-section > ul {
  height: 100%;
  padding: 0 50px;
  place-content: space-between;
  margin-top: 20px;
  margin-bottom: 80px;
}
