.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  min-height: 135px;
  padding-top: 15px;
  transition: all 0.3s ease-in-out 0s;
}

.header-top {
  background-color: #222222;
  position: relative;
  min-height: 60px;
  max-height: 60px;
  clear: both;
  z-index: 5;
  transition: all 0.3s ease-in-out 0s;
  justify-content: space-evenly;
}

.header-top > div > ul > li.active > a {
  color: #fccc4c !important;
}

.header-top > div > ul > li > a {
  color: #ffffff !important;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  padding: 0 10px;
  line-height: 60px;
}

.logo {
  top: -8px;
  margin-bottom: 0;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  background-color: #ffca3c;
  display: block;
  min-height: 90px;
  width: 200px;
}

.logo:before {
  border-color: #ffca3c transparent transparent #ffca3c;
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  bottom: -40px;
  border-width: 20px 50px;
  border-style: solid;
}

.logo:after {
  border-color: #ffca3c #ffca3c transparent transparent;
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -40px;
  border-width: 20px 50px;
  border-style: solid;
}

.logo > a > img {
  width: auto;
  max-width: 100%;
  max-height: 110px;
  height: auto;
  top: 0;
  transition: all 0.3s ease-in-out 0s;
  position: relative;
  z-index: 1;
  margin: 10px auto 0;
}

.logo > a {
  margin: 0 auto;
  display: block;
  text-decoration: none;
  text-align: center;
}

.top-left > ul {
  float: right;
}

.top-left {
  width: 40%;
  margin-right: auto;
}

.top-right {
  width: 40%;
}

.logo > a:before {
  border-color: transparent #ffca3c #ffca3c transparent !important;
  filter: brightness(66%);
  content: " ";
  position: absolute;
  background: 0 0;
  border: 4px solid;
  display: block;
  left: -8px;
  top: 0;
  z-index: 30000;
}

.logo > a::after {
  border-color: transparent transparent #ffca3c #ffca3c !important;
  filter: brightness(66%);
  left: auto;
  right: -8px;
  content: " ";
  position: absolute;
  background: 0 0;
  border: 4px solid;
  display: block;
  top: 0;
  z-index: 30000;
}

.herder-middle {
  padding: 0 80px;
  justify-content: space-between;
  margin-top: 25px;
}

.middle-box {
  background: #ffffff;
  border-radius: 3em;
  height: 100%;
  padding: 6px 20px;
  box-shadow: 0 0 30px rgb(0 0 0 / 12%);
  font-size: 13px;
  transition: all 0.3s ease 0s;
  text-align: left;
}

.count {
  position: absolute;
}

.middle-phone > div {
  color: #4b4b4b;
  vertical-align: middle;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  justify-content: space-evenly;
}

.middle-phone > div > svg {
  width: 18px;
  height: 18px;
}

.middle-tabs > ul > li {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 5px;
  /* background: #ffca3c; */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
}

.middle-tabs > ul > li:hover {
  background: #ffca3c;
}

.middle-tabs > ul > li > a > svg {
  width: 20px;
  height: 20px;
}

.count {
  color: #fff;
  background-color: #333;
  top: 60%;
  margin-top: 14px;
  display: block;
  font-size: 9px !important;
  line-height: 15px !important;
  white-space: nowrap;
  height: 15px;
  min-width: 16px;
  border-radius: 2em;
  text-align: center;
  font-weight: 700;
  vertical-align: middle;
  right: 140px;
}


  