<!-- Header -->
<div class="header">
  <div class="header-top flex">
    <div class="top-left">
      <ul class="left-list">
        <li class="left-item active"><a href="#">HOME</a></li>
        <li class="left-item"><a href="#">ABOUT BUZZEAT</a></li>
        <li class="left-item"><a href="#">NEAR YOU</a></li>
        <li class="left-item"><a href="#">CATEGORIES</a></li>
      </ul>
    </div>
    <div class="logo">
      <a href="#" title="BuzzEat" rel="BuzzEat">
        <img
          src="/assets/images/BuzzEat.png"
          alt="BuzzEat"
          width="220"
          height="220"
        />
      </a>
    </div>
    <div class="top-right">
      <ul class="right-list">
        <li class="right-item">
          <a href="#">ADDRESS: <span>Street 92A,E-11, Islamabad</span></a>
        </li>
        <li class="right-item"><a href="#">SIGNIN</a></li>
        <li class="right-item extra"><a href="#">REGISTER</a></li>
      </ul>
    </div>
  </div>
  <div class="herder-middle flex">
    <div class="middle-phone middle-box">
      <p>Order Online or Call Now:</p>
      <div class="flex">
        <span
          class="iconify"
          data-icon="entypo:phone"
          style="color: black"
        ></span>
        <p>+555 234 765 1</p>
      </div>
    </div>
    <div class="middle-tabs middle-box">
      <ul>
        <li class="tabs-item">
          <button onclick="openside()" (click)="toggleAccount()">
            <span
              class="iconify"
              data-icon="line-md:account"
              style="color: black"
            ></span>
          </button>
        </li>
        <li class="tabs-item">
          <button onclick="openside()" (click)="toggleFavourite()">
            <span
              class="iconify"
              data-icon="ant-design:heart-outlined"
              style="color: black"
            ></span>
            <div class="count" style="right: 182px">0</div>
          </button>
        </li>
        <li class="tabs-item">
          <button onclick="openside()" (click)="toggleCart()">
            <span
              class="iconify"
              data-icon="fontisto:shopping-basket"
              style="color: black"
            ></span>
            <div class="count">0</div>
          </button>
        </li>
        <li class="tabs-item">
          <button onclick="openside()" (click)="toggleSearch()">
            <span
              class="iconify"
              data-icon="akar-icons:search"
              style="color: black"
            ></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="sidebar" id="sidePanel">
    <h1>Hello</h1>
    <a
      href="javascript:void(0)"
      class="closebtn"
      onclick="closeside()"
      style="color: black"
      (click)="cross()"
      >×</a
    >
    <app-profile [showMePartially]="showVar"></app-profile>
    <app-favourite [showMePartially2]="showFav"></app-favourite>
    <app-cart [showMePartially3]="showCart"></app-cart>
    <app-search [showMePartially4]="showSearch"></app-search>
  </div>
</div>
