<!-- Header -->
<div class="header">
  <div class="header-top flex">
    <div class="top-left">
      <ul class="left-list">
        <li class="left-item active"><a href="#">HOME</a></li>
        <li class="left-item"><a href="#">ABOUT BUZZEAT</a></li>
        <li class="left-item"><a href="#">NEAR YOU</a></li>
        <li class="left-item"><a href="#">CATEGORIES</a></li>
      </ul>
    </div>
    <div class="logo">
      <a href="#" title="BuzzEat" rel="BuzzEat">
        <img
          src="/assets/images/BuzzEat.png"
          alt="BuzzEat"
          width="220"
          height="220"
        />
      </a>
    </div>
    <div class="top-right">
      <ul class="right-list">
        <li class="right-item">
          <a href="#">ADDRESS: <span>Street 92A,E-11, Islamabad</span></a>
        </li>
        <li class="right-item"><a href="#">SIGNIN</a></li>
        <li class="right-item extra"><a href="#">REGISTER</a></li>
      </ul>
    </div>
  </div>
</div>
