<div id="footer" style="margin-top: 1000px;">
  <div class="inner">
    <div id="nav_menu-2" class="one_fourth widget widget_nav_menu " >
      <h3>Information</h3>
      <div class="menu-information-container" style="position: relative;">
        <ul id="menu-information" class="menu">
          <li id="menu-item-2170" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2170"><a
              href="https://lafka.althemist.com/fastfood/home/">Home</a></li>
          <li id="menu-item-2167" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2167"><a
              href="https://lafka.althemist.com/fastfood/about-lafka/">About Us</a></li>
          <li id="menu-item-2168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2168"><a
              href="https://lafka.althemist.com/fastfood/our-menu/">Our Menu</a></li>
          <li id="menu-item-2169" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2169"><a
              href="https://lafka.althemist.com/fastfood/blog/">Blog</a></li>
          <li id="menu-item-2166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2166"><a
              href="https://lafka.althemist.com/fastfood/contacts/">Contacts</a></li>
        </ul>
      </div>
    </div>
    <div id="nav_menu-3" class="one_fourth widget widget_nav_menu ">
      <h3>Extras</h3>
      <div class="menu-extras-container">
        <ul id="menu-extras" class="menu">
          <li id="menu-item-2171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a
              href="https://lafka.althemist.com/fastfood/cart/">My Order</a></li>
          <li id="menu-item-2173" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2173"><a
              href="https://lafka.althemist.com/fastfood/checkout/">Checkout</a></li>
          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
              href="https://lafka.althemist.com/fastfood/catering/">Catering</a></li>
          <li id="menu-item-2174" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2174"><a
              href="https://lafka.althemist.com/fastfood/our-locations/">Our Locations</a></li>
          <li id="menu-item-2175"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-2175"><a
              href="https://lafka.althemist.com/fastfood/privacy-policy/">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <div id="lafka_contacts_widget-2" class="one_fourth widget widget_lafka_contacts_widget ">
      <h3>Get In Touch</h3> <span class="footer_time">Mon. - Sun.: 10:00 - 23:00</span> <span class="footer_address">164
        7th Avenue, Seattle, WA 9801</span> <span class="footer_phone">+1.888.292.7171</span> <span
        class="footer_fax">+1.888.292.7172</span> <span class="footer_mail"><a
          href="mailto:orders@pizza.con">orders@pizza.con</a></span>
    </div>
    <div id="lafka_payment_options_widget-2" class="one_fourth widget widget_lafka_payment_options_widget last">
      <h3>We Accept</h3>
      <div class="american-express_icon cards_icon"></div>
      <div class="cirrus_icon cards_icon"></div>
      <div class="maestro_icon cards_icon"></div>
      <div class="mastercard_icon cards_icon"></div>
      <div class="visa_icon cards_icon"></div>
      <div class="cash-on-delivery_icon cards_icon"></div>
      <div class="direct-debit_icon cards_icon"></div>
      <div class="paypal_icon cards_icon"></div>
    </div>
    <div class="clear"></div>
    <div class="clear"></div>
  </div>
  <div id="powered">
    <div class="inner">
      <div class="lafka-social">
        <ul>
          <li><a title="Follow on Facebook" class="facebook" target="_blank" href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a title="Follow on Twitter" class="twitter" target="_blank" href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a title="Follow on YouTube" class="youtube" target="_blank" href="#"><i
                class="fa fa-youtube-play"></i></a></li>
          <li><a title="Follow on Instagram" class="instegram" target="_blank" href="#"><i
                class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="author_credits">Lafka theme by <a target="_blank" title="theAlThemist's portfolio"
          href="http://themeforest.net/user/theAlThemist/portfolio?ref=theAlThemist">theAlThemist</a> | © 2021 All
        rights reserved!</div>
    </div>
  </div>
</div>