<div class="brands">
  <div class="figure">
    <img src="assets/images/figure pizza.png" alt="" />
  </div>
  <div class="brands-header">
    <h4>TOP RESTAURANTS</h4>
    <h1>Most Featured Restaurant</h1>
  </div>
  <div class="brands-container">
    <ul class="brands-list">
      <li class="brand-item">
        <a href="#">
          <div class="flex brand-card">
            <div class="brand-image">
              <img src="assets/images/arcadian.jpg" alt="" />
            </div>
            <div class="brand-info">
              <div class="rating flex">
                <div class="star flex">
                  <span
                    class="iconify"
                    data-icon="bi:star-fill"
                    style="color: black"
                  ></span>
                  <p><span>4.5</span>/5 (391)</p>
                </div>
                <div class="heart">
                  <span
                    class="iconify"
                    data-icon="ant-design:heart-outlined"
                    style="color: black"
                  ></span>
                </div>
              </div>
              <h2>Organic Arcadian Food</h2>
              <div class="location flex">
                <span
                  class="iconify"
                  data-icon="el:map-marker"
                  style="color: black"
                ></span>
                <p>Main Boulevard , Lahore</p>
              </div>
              <div class="time flex">
                <div class="duration flex">
                  <span
                    class="iconify"
                    data-icon="akar-icons:clock"
                    style="color: black"
                  ></span>
                  <p>12:01 am - 11:59 pm</p>
                </div>
                <div class="time-take">
                  <p>35</p>
                  <p>min</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="brand-item">
        <a href="#">
          <div class="flex brand-card">
            <div class="brand-image">
              <img src="assets/images/arcadian.jpg" alt="" />
            </div>
            <div class="brand-info">
              <div class="rating flex">
                <div class="star flex">
                  <span
                    class="iconify"
                    data-icon="bi:star-fill"
                    style="color: black"
                  ></span>
                  <p><span>4.5</span>/5 (391)</p>
                </div>
                <div class="heart">
                  <span
                    class="iconify"
                    data-icon="ant-design:heart-outlined"
                    style="color: black"
                  ></span>
                </div>
              </div>
              <h2>Organic Arcadian Food</h2>
              <div class="location flex">
                <span
                  class="iconify"
                  data-icon="el:map-marker"
                  style="color: black"
                ></span>
                <p>Main Boulevard , Lahore</p>
              </div>
              <div class="time flex">
                <div class="duration flex">
                  <span
                    class="iconify"
                    data-icon="akar-icons:clock"
                    style="color: black"
                  ></span>
                  <p>12:01 am - 11:59 pm</p>
                </div>
                <div class="time-take">
                  <p>35</p>
                  <p>min</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="brand-item">
        <a href="#">
          <div class="flex brand-card">
            <div class="brand-image">
              <img src="assets/images/arcadian.jpg" alt="" />
            </div>
            <div class="brand-info">
              <div class="rating flex">
                <div class="star flex">
                  <span
                    class="iconify"
                    data-icon="bi:star-fill"
                    style="color: black"
                  ></span>
                  <p><span>4.5</span>/5 (391)</p>
                </div>
                <div class="heart">
                  <span
                    class="iconify"
                    data-icon="ant-design:heart-outlined"
                    style="color: black"
                  ></span>
                </div>
              </div>
              <h2>Organic Arcadian Food</h2>
              <div class="location flex">
                <span
                  class="iconify"
                  data-icon="el:map-marker"
                  style="color: black"
                ></span>
                <p>Main Boulevard , Lahore</p>
              </div>
              <div class="time flex">
                <div class="duration flex">
                  <span
                    class="iconify"
                    data-icon="akar-icons:clock"
                    style="color: black"
                  ></span>
                  <p>12:01 am - 11:59 pm</p>
                </div>
                <div class="time-take">
                  <p>35</p>
                  <p>min</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="brand-item">
        <a href="#">
          <div class="flex brand-card">
            <div class="brand-image">
              <img src="assets/images/arcadian.jpg" alt="" />
            </div>
            <div class="brand-info">
              <div class="rating flex">
                <div class="star flex">
                  <span
                    class="iconify"
                    data-icon="bi:star-fill"
                    style="color: black"
                  ></span>
                  <p><span>4.5</span>/5 (391)</p>
                </div>
                <div class="heart">
                  <span
                    class="iconify"
                    data-icon="ant-design:heart-outlined"
                    style="color: black"
                  ></span>
                </div>
              </div>
              <h2>Organic Arcadian Food</h2>
              <div class="location flex">
                <span
                  class="iconify"
                  data-icon="el:map-marker"
                  style="color: black"
                ></span>
                <p>Main Boulevard , Lahore</p>
              </div>
              <div class="time flex">
                <div class="duration flex">
                  <span
                    class="iconify"
                    data-icon="akar-icons:clock"
                    style="color: black"
                  ></span>
                  <p>12:01 am - 11:59 pm</p>
                </div>
                <div class="time-take">
                  <p>35</p>
                  <p>min</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="brand-item">
        <a href="#">
          <div class="flex brand-card">
            <div class="brand-image">
              <img src="assets/images/arcadian.jpg" alt="" />
            </div>
            <div class="brand-info">
              <div class="rating flex">
                <div class="star flex">
                  <span
                    class="iconify"
                    data-icon="bi:star-fill"
                    style="color: black"
                  ></span>
                  <p><span>4.5</span>/5 (391)</p>
                </div>
                <div class="heart">
                  <span
                    class="iconify"
                    data-icon="ant-design:heart-outlined"
                    style="color: black"
                  ></span>
                </div>
              </div>
              <h2>Organic Arcadian Food</h2>
              <div class="location flex">
                <span
                  class="iconify"
                  data-icon="el:map-marker"
                  style="color: black"
                ></span>
                <p>Main Boulevard , Lahore</p>
              </div>
              <div class="time flex">
                <div class="duration flex">
                  <span
                    class="iconify"
                    data-icon="akar-icons:clock"
                    style="color: black"
                  ></span>
                  <p>12:01 am - 11:59 pm</p>
                </div>
                <div class="time-take">
                  <p>35</p>
                  <p>min</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="brand-item">
        <a href="#">
          <div class="flex brand-card">
            <div class="brand-image">
              <img src="assets/images/arcadian.jpg" alt="" />
            </div>
            <div class="brand-info">
              <div class="rating flex">
                <div class="star flex">
                  <span
                    class="iconify"
                    data-icon="bi:star-fill"
                    style="color: black"
                  ></span>
                  <p><span>4.5</span>/5 (391)</p>
                </div>
                <div class="heart">
                  <span
                    class="iconify"
                    data-icon="ant-design:heart-outlined"
                    style="color: black"
                  ></span>
                </div>
              </div>
              <h2>Organic Arcadian Food</h2>
              <div class="location flex">
                <span
                  class="iconify"
                  data-icon="el:map-marker"
                  style="color: black"
                ></span>
                <p>Main Boulevard , Lahore</p>
              </div>
              <div class="time flex">
                <div class="duration flex">
                  <span
                    class="iconify"
                    data-icon="akar-icons:clock"
                    style="color: black"
                  ></span>
                  <p>12:01 am - 11:59 pm</p>
                </div>
                <div class="time-take">
                  <p>35</p>
                  <p>min</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="banner flex">
    <img src="assets/images/food-banner.png" alt="" />
    <img src="assets/images/food-banner.png" alt="" />
    <img src="assets/images/food-banner.png" alt="" />
    <img src="assets/images/food-banner.png" alt="" />
  </div>
</div>
