.brands {
  background-color: #f2f2f2;
  margin-top: 60px;
  padding: 1px 80px 120px;
}

.figure {
  position: absolute;
  right: -220px;
  margin-top: -269px;
}

.brands-header > h4 {
  color: #ffcc00;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 60px;
}

.brands-header > h1 {
  color: #231900;
  text-align: center;
  padding-top: 0;
  margin-bottom: 15px;
  font-size: 42px;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 20px;
  margin-top: 10px;
}

li.brand-item {
  z-index: 1;
  width: 48%;
  max-width: 100%;
  padding: 0 12px;
}

.brands-list {
  flex-wrap: wrap;
}

.brand-card {
  background-color: #fff;
  border-radius: 12px;
  position: relative;
  margin-bottom: 30px;
  border-bottom: 1px solid #e9e9e9;
}

.brand-image {
  position: relative;
  width: 40%;
  float: left;
}

.brand-image > img {
  position: relative;
  float: left;
  border-radius: 12px 0 0 12px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.brands-container {
  margin-top: 30px;
}

.brand-info {
  width: 60%;
  padding: 10px 20px;
}

.brand-info > h2 {
  color: #231900;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  font-size: 20px;
}

.rating {
  place-content: space-between;
  padding-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.star > svg {
  margin-right: 8px;
  color: #ffca3c !important;
  width: 16px;
  height: 16px;
}

.star > p {
  color: #858585;
  font-size: 14px;
  place-self: center;
}

.star > p > span {
  font-weight: 700;
  color: #000000;
}

.star {
  align-items: center;
}

.heart > svg {
  height: 18px;
  width: 18px;
}

.heart {
  display: flex;
}

.time {
  justify-content: space-between;
  margin-top: -5px;
  padding-right: 10px;
}

.duration {
  align-items: flex-end;
  color: #f2002d !important;
}

.duration > svg {
  margin-right: 10px;
  color: #f2002d !important;
}

.time-take {
  background: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #565656;
}

.heart:hover > svg {
  color: #f2072e !important;
  cursor: pointer;
}

.location > p {
  font-size: 14px;
  margin-left: 10px;
  color: #7c7c7c;
}

.location > svg {
  color: #4c4c4c !important;
}

.location.flex {
  margin-top: 5px;
}

.banner {
  position: absolute;
  left: 0;
  z-index: 4;
  margin-top: 64px;
}
