<div id="content" class="buzzeat-right-sidebar" style="width: 100%">
  <div
    id="buzzeat_page_title"
    class="buzzeat_title_holder left_title title_has_image"
  >
    <div
      class="buzzeat-zoomable-background"
      style="background-image: url('/assets/images/hero-about.jpg')"
    ></div>
    <div class="inner fixed" style="padding-top: 372px; padding-bottom: 152px">
      <div class="buzzeat-title-text-container">
        <!-- BREADCRUMB -->
        <div class="breadcrumb">
          <a class="home" href="/">Home</a>
          <span class="buzzeat-breadcrumb-delimiter">/</span>
          <span class="current-crumb">About buzzeat</span>
        </div>
        <!-- END OF BREADCRUMB -->
        <!-- TITLE -->
        <h1 class="heading-title">About buzzeat</h1>
        <h6>
          We’re in the business of making people feel special. In everything we
          do, we have to ask ourselves if we’re putting the Guest first and
          making sure they’ll come back for more.
        </h6>
        <!-- END OF TITLE -->
      </div>
    </div>
  </div>
  <div class="inner">
    <!-- CONTENT WRAPPER -->
    <div id="main" class="fixed box box-common">
      <div class="content_holder">
        <div id="post-17" class="post-17 page type-page status-publish hentry">
          <div
            data-vc-full-width="true"
            data-vc-full-width-init="true"
            class="
              vc_row
              wpb_row
              vc_row-fluid
              vc_custom_1623493985912
              vc_row-has-fill
              vc_column-gap-30
              vc_row-o-full-height
              vc_row-o-columns-middle
              vc_row-o-content-middle
              vc_row-flex
            "
            style="
              position: relative;
              left: -64.6px;
              box-sizing: border-box;
              width: 1519.2px;
              padding-left: 49.6px;
              padding-right: 49.4px;
              right: 0px;
              min-height: 18.4383vh;
            "
          >
            <div class="wpb_column vc_column_container vc_col-sm-8">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                      <h3>
                        We only use the highest quality ingredients.<br />
                        The result is a taste you can swear by.
                      </h3>
                    </div>
                  </div>
                  <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                      <p>
                        Spicy jalapeno bacon ipsum dolor amet jowl brisket
                        burgdoggen, meatball bresaola bacon boudin tri-tip pig
                        pork fatback pork chop prosciutto short ribs pork belly.
                        Ham boudin rump strip steak, porchetta drumstick picanha
                        spare ribs sausage. Tongue ham hock turkey kevin ham
                        short loin tenderloin beef ribs shank turducken chicken.
                        Shankle ham boudin porchetta, corned beef ribeye strip
                        steak pork chop.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-4">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div
                    class="wpb_single_image wpb_content_element vc_align_center"
                  >
                    <figure class="wpb_wrapper vc_figure">
                      <div class="vc_single_image-wrapper vc_box_border_grey">
                        <img
                          width="680"
                          height="680"
                          src="assets/images/chop.jpg"
                          class="vc_single_image-img attachment-full"
                          alt=""
                          loading="lazy"
                          sizes="(max-width: 680px) 100vw, 680px"
                        />
                      </div>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            data-vc-full-width="true"
            data-vc-full-width-init="true"
            class="
              vc_row
              wpb_row
              vc_row-fluid
              vc_custom_1560664739876
              vc_row-has-fill
              vc_row-o-content-middle
              vc_row-flex
              buzzeat-align-center
            "
            style="
              position: relative;
              left: -64.6px;
              box-sizing: border-box;
              width: 1519.2px;
              padding-left: 64.6px;
              padding-right: 64.4px;
              right: 0px;
            "
          >
            <div class="wpb_column vc_column_container vc_col-sm-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div
                    class="
                      vc_row
                      wpb_row
                      vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex
                    "
                  >
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                      </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-6">
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                          <div
                            class="
                              wpb_single_image wpb_content_element
                              vc_align_center
                              wpb_animate_when_almost_visible wpb_appear
                              appear
                              wpb_start_animation
                              animated
                            "
                          >
                            <figure class="wpb_wrapper vc_figure">
                              <div
                                class="
                                  vc_single_image-wrapper vc_box_border_grey
                                "
                              >
                                <img
                                  src="assets/images/yellow-bike.jpg"
                                  class="vc_single_image-img attachment-full"
                                  alt=""
                                  loading="lazy"
                                  sizes="(max-width: 360px) 100vw, 360px"
                                  style="
                                    width: 200px;
                                    height: 200px;
                                    object-fit: cover;
                                    border-radius: 50%;
                                  "
                                />
                              </div>
                            </figure>
                          </div>
                          <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                              <h4>
                                <span style="color: #ffffff"
                                  >We make real food by hand, fresh to
                                  order.</span
                                ><br />
                                <span style="color: #ffffff"
                                  >It’s not the fastest way – it’s the right
                                  way.</span
                                >
                              </h4>
                              <h4><span style="color: #ffffff"></span></h4>
                            </div>
                          </div>
                          <div
                            class="
                              wpb_text_column wpb_content_element
                              vc_custom_1555580514489
                            "
                          >
                            <div class="wpb_wrapper">
                              <p style="color: #a8a8a8">
                                Spicy jalapeno bacon ipsum dolor amet jowl
                                brisket burgdoggen, meatball bresaola bacon
                                boudin tri-tip pig pork fatback pork chop
                                prosciutto short ribs pork belly. Ham boudin
                                rump strip steak, porchetta drumstick picanha
                                spare ribs sausage.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            data-vc-full-width="true"
            data-vc-full-width-init="true"
            class="
              vc_row
              wpb_row
              vc_row-fluid vc_custom_1623494752275 vc_row-has-fill
            "
            style="
              position: relative;
              left: -64.6px;
              box-sizing: border-box;
              width: 1519.2px;
              padding-left: 64.6px;
              padding-right: 64.4px;
              right: 0px;
            "
          >
            <div class="wpb_column vc_column_container vc_col-sm-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div
                    class="
                      vc_row
                      wpb_row
                      vc_inner
                      vc_row-fluid
                      vc_column-gap-30
                      vc_row-o-content-middle
                      vc_row-flex
                    "
                  >
                    <div class="wpb_column vc_column_container vc_col-sm-6">
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                          <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                              <h2>Press &amp; Awards</h2>
                            </div>
                          </div>
                          <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                              <p>
                                Spicy jalapeno bacon ipsum dolor amet jowl
                                brisket burgdoggen, meatball bresaola bacon
                                boudin tri-tip pig pork fatback pork chop
                                prosciutto short ribs pork belly. Ham boudin
                                rump strip steak, porchetta drumstick.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-6">
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                          <div
                            class="
                              wpb_single_image wpb_content_element
                              vc_align_center
                            "
                          >
                            <figure class="wpb_wrapper vc_figure">
                              <div
                                class="
                                  vc_single_image-wrapper vc_box_border_grey
                                "
                              >
                                <img
                                  class="vc_single_image-img"
                                  src="assets/images/awards.jpg"
                                  width="600"
                                  height="164"
                                  alt="awards"
                                  title="awards"
                                />
                              </div>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-newsletter></app-newsletter>
</div>
