<div class="contact-head">
  <img src="assets/images/bell.jpg" alt="" />
  <h3 class="contact-title">CONTACT</h3>
</div>
<div
  class="vc_row wpb_row vc_row-fluid vc_custom_1560664873658 vc_column-gap-35"
  style="margin: 0px auto 80px; max-width: 1320px"
>
  <div class="wpb_column vc_column_container vc_col-sm-8" style="width: 100%">
    <div class="vc_column-inner">
      <div class="wpb_wrapper">
        <div
          class="wpb_text_column wpb_content_element vc_custom_1557046842868"
        >
          <div class="wpb_wrapper">
            <h4>Send us a Message</h4>
          </div>
        </div>
        <div class="wpb_text_column wpb_content_element">
          <div class="wpb_wrapper">
            <p>
              Aenean massa diam, viverra vitae luctus sed, gravida eget est.
              Etiam nec ipsum porttitor, consequat libero eu, dignissim eros.
              Nulla auctor lacinia enim id mollis.
            </p>
          </div>
        </div>
        <div
          id="holder_lafka_contactform61c0df0f0d157"
          class="lafka-contacts-holder lafka-contacts-shortcode"
        >
          <form
            action="https://lafka.althemist.com/fastfood/wp-admin/admin-ajax.php"
            method="post"
            class="contact-form"
          >
            <div class="content lafka_name">
              <span>Your Name:</span>
              <input type="text" value="" name="lafka_name" />
            </div>
            <div class="content lafka_email">
              <span>E-Mail Address:</span>
              <input type="text" value="" name="lafka_email" />
            </div>
            <div class="content lafka_phone">
              <span>Phone:</span>
              <input type="text" value="" name="lafka_phone" />
            </div>
            <div class="content lafka_subject">
              <span>Subject:</span>
              <input type="text" value="" name="lafka_subject" />
            </div>
            <div class="content lafka_enquiry">
              <span>Message Text:</span
              ><textarea
                style="width: 99%"
                rows="10"
                cols="40"
                name="lafka_enquiry"
              ></textarea>
            </div>
            <div class="content lafka_form_test">
              Prove you're a human: <span class="constant">1</span> +
              <span class="random">8</span> = ?
              <input type="text" value="" name="lafka_captcha_answer" />
            </div>
            <div class="buttons">
              <input type="hidden" name="lafka_contact_submitted" value="8" />
              <input
                type="hidden"
                name="shortcode_params_for_tpl"
                value='{"lafka_title":"","lafka_contact_mail_to":"pizza@pizza.com","lafka_simple_captcha":"1","lafka_contact_form_fields":"name,email,phone,subject"}'
              />
              <div class="left">
                <img
                  id="lafka_contactform61c0df0f0d157_loading_gif"
                  class="lafka-contacts-loading"
                  src="https://lafka.althemist.com/fastfood/wp-content/plugins/lafka-plugin/shortcodes/../assets/image/contacts_ajax_loading.png"
                  style="display: none"
                /><input
                  class="button button-orange"
                  value="Send message"
                  type="submit"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-newsletter></app-newsletter>
