.deals {
  background-color: #f2f2f2;
}

.deal-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 80px 8px;
  justify-content: space-between;
}

.detail-box {
  background: #fff;
  padding: 30px 20px;
  border-radius: 8px;
  padding-right: 0;
  width: 280px;
  margin-bottom: 30px;
}

.right-popular.detail-box {
  padding-right: 20px;
  width: 260px;
}

.left-adver.detail-box {
  padding-right: 20px;
  width: 260px;
}

h3.deal-title {
  position: relative;
  margin-bottom: 26px;
  font-size: 20px;
  font-weight: 700;
  color: #071c1f;
}

ul.details-list {
  width: 100%;
}

li.details-item > button {
  border: 0;
  transition: none;
  margin-bottom: 8px;
  padding: 0.9rem 0.9rem;
  border-radius: 5px 0 0 5px;
  width: 100%;
  background: #fff;
  font-size: 16px;
  align-items: center;
}

li.details-item.active > button {
  background: #f2f2f2;
}

li.details-item > button > svg {
  margin-right: 10px;
  height: 25px;
  width: 25px;
}

.left-adver.detail-box > img {
  width: 100%;
}
