<div class="deals">
  <div class="deal-container flex">
    <div class="left-deals">
      <div class="left-details detail-box">
        <h3 class="deal-title">All Details</h3>
        <ul class="details-list block">
          <li class="details-item active">
            <button class="flex">
              <span
                class="iconify"
                data-icon="flat-color-icons:view-details"
                style="color: black"
              ></span>
              Menu
            </button>
          </li>
          <li class="details-item">
            <button class="flex">
              <span
                class="iconify"
                data-icon="clarity:group-solid"
                style="color: #699bf7"
              ></span>
              Reviews
            </button>
          </li>
          <li class="details-item">
            <button class="flex">
              <span
                class="iconify"
                data-icon="flat-color-icons:info"
                style="color: #699bf7"
              ></span>
              Restaurant Info
            </button>
          </li>
        </ul>
      </div>
      <div class="left-adver detail-box">
        <h3 class="deal-title">Advertisment</h3>
        <a href="#">
          <img src="assets/images/ad.png" alt="" />
        </a>
      </div>
    </div>
    <div class="center-deals">
      <app-menu class="none"></app-menu>
      <app-reviews></app-reviews>
    </div>
    <div class="right-deals">
      <div class="right-popular detail-box">
        <h3 class="deal-title">Best Selling</h3>
        <div class="best-selling-card">
          <div class="best-image">
            <img src="assets/images/pizza-thumb.jpg" alt="" />
          </div>
          <div class="best-info">
            <h3>BarBQ Pizza</h3>
            <p class="best-desc">Regular BarBQ Pizza</p>
            <p class="best-price">from Rs. 499</p>
          </div>
          <div class="best-button">
            <button class="bg-yellow">Order Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
