/*! CSS Used from: https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/siteground-optimizer-assets/siteground-optimizer-combined-css-88a5c2907ac9a21d25af41aea2305475.css ; media=all */
@media all {
  div,
  span,
  h6,
  p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    -webkit-text-stroke: 0 !important;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    text-rendering: optimizeLegibility;
  }
  p,
  h6 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
  }
  ::-moz-selection {
    color: #fff;
  }
  ::selection {
    color: #fff;
  }
  p {
    margin: 1em 0;
    line-height: 1.625em;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  h6 {
    color: #555;
  }
  h6 {
    line-height: 1.625em;
  }
  .wpb_wrapper {
    position: relative;
  }
  .vc_icon_element {
    position: relative;
    z-index: 2;
  }
  .vc_row {
    background-position: 50% 0;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
  }
  .lafka-align-center {
    text-align: center;
  }
  .wpb_text_column.wpb_content_element {
    width: 100%;
    position: relative;
  }
  @media only screen and (max-width: 768px) {
    .vc_col-sm-3:last-child,
    .vc_col-sm-12:last-child {
      margin-bottom: 0;
    }
  }
  [class*=" flaticon-"]:before,
  [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
  }
  .flaticon-031-delivery:before {
    content: "\f11e";
  }
  .flaticon-034-waiter:before {
    content: "\f121";
  }
  .flaticon-038-take-away:before {
    content: "\f125";
  }
  .flaticon-047-menu:before {
    content: "\f12e";
  }
  .vc_row:after,
  .vc_row:before {
    content: " ";
    display: table;
  }
  .vc_row:after {
    clear: both;
  }
  .vc_column_container {
    width: 100%;
  }
  .vc_row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .vc_col-sm-12,
  .vc_col-sm-3 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  @media (min-width: 768px) {
    .vc_col-sm-12,
    .vc_col-sm-3 {
      float: left;
    }
    .vc_col-sm-12 {
      width: 100%;
    }
    .vc_col-sm-3 {
      width: 25%;
    }
  }
  #content .wpb_text_column :last-child,
  #content .wpb_text_column p:last-child,
  .wpb_text_column :last-child,
  .wpb_text_column p:last-child {
    margin-bottom: 0;
  }
  .wpb_content_element {
    margin-bottom: 35px;
  }
  .vc_row[data-vc-full-width] {
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    overflow: hidden;
  }
  .vc_column-inner::after,
  .vc_column-inner::before {
    content: " ";
    display: table;
  }
  .vc_column-inner::after {
    clear: both;
  }
  .vc_column_container {
    padding-left: 0;
    padding-right: 0;
  }
  .vc_column_container > .vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  .vc_row-has-fill
    + .vc_row-full-width
    + .vc_row
    > .vc_column_container
    > .vc_column-inner,
  .vc_row-has-fill > .vc_column_container > .vc_column-inner {
    padding-top: 35px;
  }
  .vc_icon_element {
    line-height: 0;
    font-size: 14px;
    margin-bottom: 35px;
  }
  .vc_icon_element.vc_icon_element-outer {
    box-sizing: border-box;
    text-align: center;
  }
  .vc_icon_element.vc_icon_element-outer.vc_icon_element-align-center {
    text-align: center;
  }
  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
    text-align: center;
    display: inline-block;
    border: 2px solid transparent;
    width: 4em;
    height: 4em;
    box-sizing: content-box;
    position: relative;
  }
  .vc_icon_element.vc_icon_element-outer
    .vc_icon_element-inner
    .vc_icon_element-icon {
    font-size: 2.15em;
    font-style: normal;
    line-height: 1 !important;
    font-size-adjust: none;
    font-stretch: normal;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    -webkit-font-language-override: normal;
    font-language-override: normal;
    -webkit-font-kerning: auto;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant: normal;
    text-rendering: auto;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .vc_icon_element.vc_icon_element-outer
    .vc_icon_element-inner
    .vc_icon_element-icon:before {
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    width: inherit;
    height: inherit;
    font-size: 1em;
    text-align: center;
    text-rendering: optimizelegibility;
  }
  .vc_icon_element.vc_icon_element-outer
    .vc_icon_element-inner.vc_icon_element-size-xl {
    max-width: 100% !important;
    line-height: 5em !important;
  }
  .vc_icon_element.vc_icon_element-outer
    .vc_icon_element-inner.vc_icon_element-size-xl
    .vc_icon_element-icon {
    font-size: 5em !important;
  }
}
/*! CSS Used from: Embedded */
::-moz-selection {
  background: #f2002d;
}
::selection {
  background: #f2002d;
}
h6 {
  font-family: Rubik;
  font-display: fallback;
}
h6 {
  color: #22272d;
  font-size: 19px;
  font-weight: 500;
  font-style: normal;
}
/*! CSS Used from: Embedded */
.vc_custom_1623077110664 {
  margin-bottom: 0px !important;
  padding-top: 60px !important;
  padding-bottom: 60px !important;
  background-color: #fdfaed !important;
}
.vc_custom_1623568768978 {
  margin-bottom: 20px !important;
}
.vc_custom_1560929823429 {
  margin-bottom: 10px !important;
}
.vc_custom_1622971770244 {
  margin-bottom: 20px !important;
}
.vc_custom_1560929888844 {
  margin-bottom: 10px !important;
}
.vc_custom_1622971684219 {
  margin-bottom: 20px !important;
}
.vc_custom_1623064624818 {
  margin-bottom: 10px !important;
}
.vc_custom_1622971786948 {
  margin-bottom: 20px !important;
}
.vc_custom_1560929922800 {
  margin-bottom: 10px !important;
}
/*! CSS Used fontfaces */
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8sDE3U3f4c.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8tdE3U3f4c.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8tvE3U3f4c.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8uDFHU3f4c.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8u6FHU3f4c.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8vdFHU3f4c.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8v0FHU3f4c.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-WYiFV0Uw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFV0Uw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYiFV0Uw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-2Y-FV0Uw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-4I-FV0Uw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-h4-FV0Uw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-ro-FV0Uw.ttf)
    format("truetype");
}
