<div
  data-vc-full-width="true"
  data-vc-full-width-init="true"
  class="
    vc_row
    wpb_row
    vc_row-fluid vc_custom_1623077110664 vc_row-has-fill
    lafka-align-center
  "
  style="position: relative"
>
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner">
      <div class="wpb_wrapper">
        <div class="vc_row wpb_row vc_inner vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-3">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div
                  class="
                    vc_icon_element
                    vc_icon_element-outer
                    vc_custom_1623568768978
                    vc_icon_element-align-center
                  "
                >
                  <div
                    class="
                      vc_icon_element-inner
                      vc_icon_element-color-custom
                      vc_icon_element-size-xl
                      vc_icon_element-style-
                      vc_icon_element-background-color-grey
                    "
                  >
                    <img
                      src="assets/images/waiter.png"
                      alt=""
                      style="width: 6em; margin-left: -10px"
                    />
                  </div>
                </div>
                <div
                  class="
                    wpb_text_column wpb_content_element
                    vc_custom_1560929823429
                  "
                >
                  <div class="wpb_wrapper">
                    <h6>Friendly Service</h6>
                  </div>
                </div>
                <div class="wpb_text_column wpb_content_element">
                  <div class="wpb_wrapper">
                    <p style="margin-top: 0">
                      Filet mignon buffalo shankle leberkas, porchetta
                      frankfurter.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-3">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div
                  class="
                    vc_icon_element
                    vc_icon_element-outer
                    vc_custom_1622971770244
                    vc_icon_element-align-center
                  "
                >
                  <div
                    class="
                      vc_icon_element-inner
                      vc_icon_element-color-custom
                      vc_icon_element-size-xl
                      vc_icon_element-style-
                      vc_icon_element-background-color-grey
                    "
                  >
                    <img
                      src="assets/images/menu.png"
                      alt=""
                      style="width: 6em; margin-left: -10px"
                    />
                  </div>
                </div>
                <div
                  class="
                    wpb_text_column wpb_content_element
                    vc_custom_1560929888844
                  "
                >
                  <div class="wpb_wrapper">
                    <h6>Original Recipes</h6>
                  </div>
                </div>
                <div class="wpb_text_column wpb_content_element">
                  <div class="wpb_wrapper">
                    <p style="margin-top: 0">
                      Filet mignon buffalo shankle leberkas, porchetta
                      frankfurter.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-3">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div
                  class="
                    vc_icon_element
                    vc_icon_element-outer
                    vc_custom_1622971684219
                    vc_icon_element-align-center
                  "
                >
                  <div
                    class="
                      vc_icon_element-inner
                      vc_icon_element-color-custom
                      vc_icon_element-size-xl
                      vc_icon_element-style-
                      vc_icon_element-background-color-grey
                    "
                  >
                    <img
                      src="assets/images/park.png"
                      alt=""
                      style="width: 7em; margin-left: -25px"
                    />
                  </div>
                </div>
                <div
                  class="
                    wpb_text_column wpb_content_element
                    vc_custom_1623064624818
                  "
                >
                  <div class="wpb_wrapper">
                    <h6>Free Parking Lot</h6>
                  </div>
                </div>
                <div class="wpb_text_column wpb_content_element">
                  <div class="wpb_wrapper">
                    <p style="margin-top: 0">
                      Filet mignon buffalo shankle leberkas, porchetta
                      frankfurter.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-3">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div
                  class="
                    vc_icon_element
                    vc_icon_element-outer
                    vc_custom_1622971786948
                    vc_icon_element-align-center
                  "
                >
                  <div
                    class="
                      vc_icon_element-inner
                      vc_icon_element-color-custom
                      vc_icon_element-size-xl
                      vc_icon_element-style-
                      vc_icon_element-background-color-grey
                    "
                  >
                    <img
                      src="assets/images/bike.png"
                      alt=""
                      style="width: 7em; margin-left: -25px"
                    />
                  </div>
                </div>
                <div
                  class="
                    wpb_text_column wpb_content_element
                    vc_custom_1560929922800
                  "
                >
                  <div class="wpb_wrapper">
                    <h6>Fast Dlivery</h6>
                  </div>
                </div>
                <div class="wpb_text_column wpb_content_element">
                  <div class="wpb_wrapper">
                    <p style="margin-top: 0">
                      Filet mignon buffalo shankle leberkas, porchetta
                      frankfurter.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
