<div
  data-vc-full-width="true"
  data-vc-full-width-init="true"
  class="
    vc_row
    wpb_row
    vc_row-fluid
    vc_custom_1623568726903
    vc_row-has-fill
    vc_row-o-content-middle
    vc_row-flex
    lafka-visible-overlay
  "
  style="position: relative"
>
  <div class="wpb_column vc_column_container vc_col-sm-3">
    <div class="vc_column-inner vc_custom_1560841359049">
      <div class="wpb_wrapper"></div>
    </div>
  </div>
  <div class="wpb_column vc_column_container vc_col-sm-6">
    <div class="vc_column-inner vc_custom_1623075718522">
      <div class="wpb_wrapper">
        <div
          class="
            vc_icon_element
            vc_icon_element-outer
            vc_custom_1623568735704
            vc_icon_element-align-center
            vc_icon_element-have-style
          "
        >
          <div
            class="
              vc_icon_element-inner
              vc_icon_element-color-custom
              vc_icon_element-have-style-inner
              vc_icon_element-size-xl
              vc_icon_element-style-rounded
              vc_icon_element-background
              vc_icon_element-background-color-custom
            "
            style="background-color: #ffca3c"
          >
            <span
              class="iconify"
              data-icon="akar-icons:radish"
              style="
                color: #95601c;
                width: 70px;
                height: 70px;
                top: 15%;
                position: relative;
              "
            ></span>
          </div>
        </div>
        <div
          class="wpb_text_column wpb_content_element vc_custom_1622972489993"
        >
          <div class="wpb_wrapper">
            <h3 style="text-align: center">Love Burgers? Like Deals?</h3>
          </div>
        </div>
        <div class="wpb_text_column wpb_content_element">
          <div class="wpb_wrapper">
            <p style="margin-top: 5px; text-align: center">
              <span style="color: #95601c"
                >Be the first to know about our newest menu items and latest
                offers.</span
              >
            </p>
          </div>
        </div>
        <div class="wpb_text_column wpb_content_element">
          <div class="wpb_wrapper">
            <!-- Mailchimp for WordPress v4.8.6 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
            <form
              id="mc4wp-form-1"
              class="mc4wp-form mc4wp-form-2823"
              method="post"
              data-id="2823"
              data-name="Subscribe Form"
            >
              <div class="mc4wp-form-fields">
                <div class="lafka_single_field_subscribe">
                  <input
                    type="email"
                    name="EMAIL"
                    placeholder="Your email"
                    required=""
                  />
                  <input type="submit" value="Subscribe" />
                </div>
              </div>
              <label style="display: none !important"
                >Leave this field empty if you're human:
                <input
                  type="text"
                  name="_mc4wp_honeypot"
                  value=""
                  tabindex="-1"
                  autocomplete="off" /></label
              ><input
                type="hidden"
                name="_mc4wp_timestamp"
                value="1639828410"
              /><input type="hidden" name="_mc4wp_form_id" value="2823" /><input
                type="hidden"
                name="_mc4wp_form_element_id"
                value="mc4wp-form-1"
              />
              <div class="mc4wp-response"></div>
            </form>
            <!-- / Mailchimp for WordPress Plugin -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wpb_column vc_column_container vc_col-sm-3">
    <div class="vc_column-inner">
      <div class="wpb_wrapper"></div>
    </div>
  </div>
</div>
