/*! CSS Used from: https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/siteground-optimizer-assets/siteground-optimizer-combined-css-88a5c2907ac9a21d25af41aea2305475.css ; media=all */
@media all {
  div,
  span,
  h3,
  p,
  form,
  label {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    -webkit-text-stroke: 0 !important;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    text-rendering: optimizeLegibility;
  }
  p,
  h3 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
  }
  ::-moz-selection {
    color: #fff;
  }
  ::selection {
    color: #fff;
  }
  p {
    margin: 1em 0;
    line-height: 1.625em;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  form.mc4wp-form input[type="email"] {
    padding: 10px 8px 11px;
    width: 70%;
    -webkit-appearance: none;
  }
  .wpb_content_element form.mc4wp-form {
    display: block;
  }
  .lafka_single_field_subscribe {
    position: relative;
    min-height: 55px;
    margin-bottom: 10px;
  }
  .wpb_content_element
    form.mc4wp-form
    .lafka_single_field_subscribe
    input[type="email"] {
    width: 100%;
    height: 56px;
    padding: 18px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.8);
  }
  .wpb_content_element
    form.mc4wp-form
    .lafka_single_field_subscribe
    input[type="email"]:focus {
    background: #fff;
    border-color: #fff;
  }
  .wpb_content_element
    form.mc4wp-form
    .lafka_single_field_subscribe
    input[type="submit"] {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 2;
    height: 50px;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
  }
  .mc4wp-response {
    font-size: 12px;
    color: #333;
  }
  h3 {
    color: #333;
  }
  h3 {
    line-height: 1.3em;
  }
  input[type="submit"] {
    cursor: pointer;
  }
  form.mc4wp-form input[type="submit"],
  input[type="submit"] {
    cursor: pointer;
    font-size: 13px;
    color: #fff;
    padding: 11px 20px;
    text-decoration: none;
    background: #333;
    letter-spacing: 1px;
    border: none;
    -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px;
    outline: none;
  }
  input[type="submit"] {
    -webkit-appearance: none;
  }
  form {
    padding: 0;
    margin: 0;
    display: inline;
  }
  input[type="text"],
  input[type="email"] {
    padding: 15px;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #666;
    background-color: #f6f6f6;
    border: none;
    box-shadow: none;
    border-radius: 6px;
  }
  input[type="text"]:focus,
  input[type="email"]:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 8%);
  }
  label {
    cursor: pointer;
    margin-right: 5px;
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: 500;
  }
  .wpb_wrapper {
    position: relative;
  }
  .vc_icon_element {
    position: relative;
    z-index: 2;
  }
  .vc_row {
    background-position: 50% 0;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
  }
  .wpb_text_column.wpb_content_element {
    width: 100%;
    position: relative;
  }
  .vc_row.lafka-visible-overlay[data-vc-full-width] {
    overflow: visible;
    z-index: 20;
  }
  .figure {
    position: absolute;
    z-index: -1;
  }
  .figure > img {
    opacity: 0.2;
    margin-right: -30px;
  }
  @media only screen and (max-width: 768px) {
    .vc_col-sm-3:last-child {
      margin-bottom: 0;
    }
  }
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .wpb_text_column h3 {
      font-size: 24px !important;
    }
  }
  @media only screen and (min-width: 380px) and (max-width: 599px) {
    .wpb_text_column h3 {
      font-size: 24px !important;
    }
  }
  @media only screen and (min-width: 300px) and (max-width: 379px) {
    .wpb_text_column h3 {
      font-size: 27px !important;
    }
  }
  [class*=" flaticon-"]:before,
  [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
  }
  .flaticon-022-serving-dish:before {
    content: "\f115";
  }
  .vc_row:after,
  .vc_row:before {
    content: " ";
    display: table;
  }
  .vc_row:after {
    clear: both;
  }
  .vc_column_container {
    width: 100%;
  }
  .vc_row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .vc_col-sm-3,
  .vc_col-sm-6 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  @media (min-width: 768px) {
    .vc_col-sm-3,
    .vc_col-sm-6 {
      float: left;
    }
    .vc_col-sm-6 {
      width: 50%;
    }
    .vc_col-sm-3 {
      width: 25%;
    }
  }
  #content .wpb_text_column :last-child,
  #content .wpb_text_column p:last-child,
  .wpb_text_column :last-child,
  .wpb_text_column p:last-child {
    margin-bottom: 0;
  }
  .wpb_content_element {
    margin-bottom: 35px;
  }
  .vc_row[data-vc-full-width] {
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    overflow: hidden;
  }
  .vc_row.vc_row-flex {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .vc_row.vc_row-flex > .vc_column_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .vc_row.vc_row-flex > .vc_column_container > .vc_column-inner {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 1;
  }
  @media (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .vc_row.vc_row-flex > .vc_column_container > .vc_column-inner > * {
      min-height: 1em;
    }
  }
  .vc_row.vc_row-flex::after,
  .vc_row.vc_row-flex::before {
    display: none;
  }
  .vc_row.vc_row-o-content-middle > .vc_column_container > .vc_column-inner {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .vc_row.vc_row-o-content-middle:not(.vc_row-o-equal-height)
    > .vc_column_container {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .vc_column-inner::after,
  .vc_column-inner::before {
    content: " ";
    display: table;
  }
  .vc_column-inner::after {
    clear: both;
  }
  .vc_column_container {
    padding-left: 0;
    padding-right: 0;
  }
  .vc_column_container > .vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  .vc_row-has-fill
    + .vc_row-full-width
    + .vc_row
    > .vc_column_container
    > .vc_column-inner,
  .vc_row-has-fill > .vc_column_container > .vc_column-inner {
    padding-top: 35px;
  }
  .vc_icon_element {
    line-height: 0;
    font-size: 14px;
    margin-bottom: 35px;
  }
  .vc_icon_element.vc_icon_element-outer {
    box-sizing: border-box;
    text-align: center;
  }
  .vc_icon_element.vc_icon_element-outer.vc_icon_element-align-center {
    text-align: center;
  }
  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
    text-align: center;
    display: inline-block;
    border: 2px solid transparent;
    width: 4em;
    height: 4em;
    box-sizing: content-box;
    position: relative;
  }
  .vc_icon_element.vc_icon_element-outer
    .vc_icon_element-inner
    .vc_icon_element-icon {
    font-size: 2.15em;
    font-style: normal;
    line-height: 1 !important;
    font-size-adjust: none;
    font-stretch: normal;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    -webkit-font-language-override: normal;
    font-language-override: normal;
    -webkit-font-kerning: auto;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant: normal;
    text-rendering: auto;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .vc_icon_element.vc_icon_element-outer
    .vc_icon_element-inner
    .vc_icon_element-icon:before {
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    width: inherit;
    height: inherit;
    font-size: 1em;
    text-align: center;
    text-rendering: optimizelegibility;
  }
  .vc_icon_element.vc_icon_element-outer
    .vc_icon_element-inner.vc_icon_element-size-xl {
    max-width: 100% !important;
    line-height: 5em !important;
  }
  .vc_icon_element.vc_icon_element-outer
    .vc_icon_element-inner.vc_icon_element-size-xl.vc_icon_element-have-style-inner {
    width: 7.15em !important;
    height: 7.15em !important;
  }
  .vc_icon_element.vc_icon_element-outer
    .vc_icon_element-inner.vc_icon_element-size-xl
    .vc_icon_element-icon {
    font-size: 5em !important;
  }
  .vc_icon_element.vc_icon_element-outer
    .vc_icon_element-inner.vc_icon_element-style-rounded {
    border-radius: 50%;
  }
}
/*! CSS Used from: Embedded */
::-moz-selection {
  background: #f2002d;
}
::selection {
  background: #f2002d;
}
input[type="submit"],
form.mc4wp-form input[type="submit"],
form.mc4wp-form input[type="email"] {
  border-radius: 300px !important;
}
form.mc4wp-form input[type="submit"],
input[type="submit"] {
  background-color: #f2002d;
}
form.mc4wp-form input[type="submit"]:hover {
  background-color: #22272d !important;
}
h3,
label {
  font-family: Rubik;
  font-display: fallback;
}
input[type="submit"] {
  font-family: Rubik;
  font-display: fallback;
}
h3 {
  color: #22272d;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
}
/*! CSS Used from: Embedded */
.vc_custom_1623568726903 {
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 40px !important;
  background-color: #ffca3c !important;
  background-position: 0 0 !important;
  background-repeat: repeat !important;
}
.vc_custom_1560841359049 {
  padding-top: 10px !important;
}
.vc_custom_1623075718522 {
  padding-top: 0px !important;
}
.vc_custom_1623568735704 {
  margin-top: -40px !important;
  margin-bottom: 10px !important;
}
.vc_custom_1622972489993 {
  margin-bottom: 0px !important;
}
/*! CSS Used fontfaces */
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8sDE3U3f4c.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8tdE3U3f4c.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8tvE3U3f4c.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8uDFHU3f4c.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8u6FHU3f4c.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8vdFHU3f4c.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8v0FHU3f4c.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-WYiFV0Uw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFV0Uw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYiFV0Uw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-2Y-FV0Uw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-4I-FV0Uw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-h4-FV0Uw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-ro-FV0Uw.ttf)
    format("truetype");
}
