<div class="auth-content" style="margin: 200px auto 80px">
  <h2 style="text-align: center">SignUp To BuzzEat</h2>
  <div class="auth-connections">
    <div class="google-auth">
      <a href="#" class="flex">
        Register with Google
        <div class="google-logo">
          <span
            class="iconify"
            data-icon="flat-color-icons:google"
            style="color: #ffc700"
          ></span>
        </div>
      </a>
    </div>

    <a
      class="auth-twitter form-btn"
      data-auth-action="Sign Up"
      rel="nofollow"
      data-method="post"
      href="#"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        aria-labelledby="arpieiwjh6mq1ounap9emjja4soawl71"
        role="img"
        viewBox="0 0 24 24"
        class="icon"
      >
        <title id="arpieiwjh6mq1ounap9emjja4soawl71">Twitter icon</title>
        <path
          d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"
        ></path>
      </svg>
    </a>
  </div>
  <hr class="divider" />

  <div class="auth-form signup-form">
    <form
      class="hide-remove gen-form with-messages signup"
      id="new_user"
      action="/"
      accept-charset="UTF-8"
      method="post"
    >
      <input name="utf8" type="hidden" value="✓" /><input
        type="hidden"
        name="authenticity_token"
      />
      <div class="form-field hide">
        <fieldset>
          <label for="contact_surname">Surname</label>
          <input type="text" name="surname" id="surname" />
        </fieldset>
      </div>

      <input type="hidden" name="product" id="product" />

      <input type="hidden" name="user[bio]" id="user_bio" />
      <input type="hidden" name="user[location]" id="user_location" />

      <div class="form-field-group">
        <div class="form-field">
          <fieldset class="user_name">
            <label for="user_name">Name</label
            ><input
              autocomplete="name"
              class="text-input"
              type="text"
              name="user[name]"
              id="user_name"
            />
          </fieldset>
        </div>

        <div class="form-field">
          <fieldset class="user_login">
            <label for="user_login">Username</label
            ><input
              autocorrect="off"
              autocapitalize="off"
              autocomplete="username"
              class="text-input"
              type="text"
              name="user[login]"
              id="user_login"
            />
          </fieldset>
        </div>
      </div>

      <div class="form-field">
        <fieldset class="user_email">
          <label for="user_email">Email</label
          ><input
            class="text-input"
            type="text"
            name="user[email]"
            id="user_email"
          />
        </fieldset>
      </div>

      <div class="form-field">
        <fieldset class="user_password">
          <label for="user_password">Password</label
          ><input
            class="text-input"
            placeholder="6+ characters"
            type="password"
            name="user[password]"
            id="user_password"
            aria-autocomplete="list"
          />
        </fieldset>
      </div>

      <div class="form-field check-wrap opt-in">
        <fieldset>
          <input
            type="checkbox"
            id="user_agree_to_terms"
            name="user[agree_to_terms]"
          />
          <label for="user_agree_to_terms">
            Creating an account means you’re okay with our
            <a target="_blank" href="/">Terms of Service</a>,
            <a target="_blank" href="/">Privacy Policy</a>, and our default
            <a target="_blank" href="/">Notification Settings</a>.
          </label>
        </fieldset>
      </div>

      <div class="form-btns">
        <input
          type="submit"
          name="commit"
          value="Create Account"
          class="button form-sub"
          data-disable-with="Create Account"
        />
      </div>

      <p>Already a member? <a href="/login">Sign In</a></p>
    </form>
  </div>
</div>
