<div class="menu">
  <div class="menu-head">
    <h3 class="menu-title">Categories</h3>
    <div class="menu-list">
      <ul class="flex">
        <li class="menu-list-item active-menu">
          <a href="#popular">Popular</a>
        </li>
        <li class="menu-list-item">
          <a href="#">Celebration Deals</a>
        </li>
        <li class="menu-list-item">
          <a href="#">Family Deals</a>
        </li>
        <li class="menu-list-item">
          <a href="#">Special Offer's</a>
        </li>
        <li class="menu-list-item">
          <a href="#">Starters</a>
        </li>
        <li class="menu-list-item">
          <a href="#">Pizza</a>
        </li>
        <li class="menu-list-item">
          <a href="#">Drinks</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-menu">
    <h3 class="main-menu-title" id="popular">
      <span class="iconify red" data-icon="ant-design:fire-filled"></span>
      Popular
    </h3>
    <p class="main-menu-desc">Most ordered right now.</p>
    <div class="main-menu-list">
      <ul class="block">
        <li class="main-menu-item flex">
          <div class="main-menu-image">
            <img src="assets/images/pizza-thumb.jpg" alt="" />
          </div>
          <div class="mani-menu-info">
            <div class="info-data">
              <div class="info-title">Celebration Deal 2</div>
              <p class="info-disc">Regular pizza</p>
            </div>
            <p class="inf-price">Rs. 599</p>
          </div>
          <div class="main-menu-order flex">
            <div class="order-quantity">
              <input
                type="number"
                name="quantity"
                value="1"
                min="1"
                max="30"
                step="1"
              />
            </div>
            <div class="order-button">
              <button type="button" class="bg-yellow">Order Now</button>
            </div>
          </div>
        </li>
        <li class="main-menu-item flex">
          <div class="main-menu-image">
            <img src="assets/images/pizza-thumb.jpg" alt="" />
          </div>
          <div class="mani-menu-info">
            <div class="info-data">
              <div class="info-title">Celebration Deal 2</div>
              <p class="info-disc">Regular pizza</p>
            </div>
            <p class="inf-price">Rs. 599</p>
          </div>
          <div class="main-menu-order flex">
            <div class="order-quantity">
              <input
                type="number"
                name="quantity"
                value="1"
                min="1"
                max="30"
                step="1"
              />
            </div>
            <div class="order-button">
              <button type="button" class="bg-yellow">Order Now</button>
            </div>
          </div>
        </li>
        <li class="main-menu-item flex">
          <div class="main-menu-image">
            <img src="assets/images/pizza-thumb.jpg" alt="" />
          </div>
          <div class="mani-menu-info">
            <div class="info-data">
              <div class="info-title">Celebration Deal 2</div>
              <p class="info-disc">Regular pizza</p>
            </div>
            <p class="inf-price">Rs. 599</p>
          </div>
          <div class="main-menu-order flex">
            <div class="order-quantity">
              <input
                type="number"
                name="quantity"
                value="1"
                min="1"
                max="30"
                step="1"
              />
            </div>
            <div class="order-button">
              <button type="button" class="bg-yellow">Order Now</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
