<div class="category">
  <div class="figure">
    <img src="assets/images/figure.jpg" alt="" />
  </div>
  <div class="cat-header">
    <h4>TOP FOODS</h4>
    <h1>Our Categories</h1>
  </div>
  <div class="categories">
    <ul class="cat-list">
      <li class="cat-item">
        <a href="#">
          <img src="assets/images/pizza.png" alt="" />
          <p>Pizza</p>
        </a>
      </li>
      <li class="cat-item">
        <a href="#">
          <img src="assets/images/burger.png" alt="" />
          <p>Burger</p>
        </a>
      </li>
      <li class="cat-item">
        <a href="#">
          <img src="assets/images/rice.png" alt="" />
          <p>Rice</p>
        </a>
      </li>
      <li class="cat-item">
        <a href="#">
          <img src="assets/images/barbeque.png" alt="" />
          <p>Barbeque</p>
        </a>
      </li>
      <li class="cat-item">
        <a href="#">
          <img src="assets/images/cocktail.png" alt="" />
          <p>Continental</p>
        </a>
      </li>
      <li class="cat-item">
        <a href="#">
          <img src="assets/images/karahi.jpg" alt="" />
          <p>Karahi</p>
        </a>
      </li>
    </ul>
  </div>
</div>
